@import url(common.css);

@font-face {
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

header{
  font-family: 'S-CoreDream-3Light';
}

.top a img{ /* top화살표 */
  position:fixed;
  width:60px;
  height:60px;
  right:25px;
  bottom:20px;
  z-index:1000;
}
.header_main{
  background-color:#000;
  width:100%;
  height:100px;
  position:relative;
}
.nav1 .logo a img{
  border: 1px solid red;
  width:200px;
  position:absolute;
  top:28px;
  left:50px;  
}
.gnb{
}
.nav2 .gnb li, .nav2 .nav_utilmenu span{
  border: 1px solid #000;
}
.fa-solid:before{
  content:'\f07a';
  font-family: fontawesome;
  font-size:25px;
  font-style:normal;
}
