@import url(common.css);

@font-face {
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{scroll-behavior: smooth;}

body::-webkit-scrollbar {width: 10px;}
body::-webkit-scrollbar-thumb {
  height: 30%;
  background: #666; 
  border-radius: 5px;
}
body::-webkit-scrollbar-track {background: #ffffff;}
/* body{
  height:100vh;
} */
#container{
  width:100%;
  color:#333;
  font-size:15px;
  min-width:1400px;
}

.top, .bottom{
  position:fixed;
  right:40px;
  transition:0.3s;
}
.top{
  bottom:90px;
}
.bottom{
  bottom:30px;
}
.top a, .bottom a{
  display:block;
  width:50px;
  height:50px;
  transition:0.2s;
}
.top a{
background:url(../image/top-icon7.png) no-repeat;
background-size:cover;
}
.bottom a{
  background:url(../image/top-icon8.png) no-repeat;
  background-size:cover;
}
.top:hover, .bottom:hover{
  opacity:40%;
}
.top:hover{
  transform:translateY(-3px)
}
.bottom:hover{
  transform:translateY(3px)
}
.top:checked{
  transform:translateX(0px)
}


/* Header------------------ */

header{
  background-color:#000;
  width:100%;
  position:fixed;
  height:100px;
}
header div:nth-child(1){
  display:inline-block;
  margin:28px 0 0 45px;
}
nav{
  height:100px;
  display:flex;
  position:relative;
  position:fixed;
}
#main .logo a img{
  width:200px;
  opacity:0.7;
  position:absolute;
  top:28px;
  left:60px;
}
#main .logo a img:hover{
  opacity:1;
  transition:0.2s;
}
.menu ul, .utilMenu ul{
  display:flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position:absolute;
  top:8px;
}
.menu ul{
  font-size:18px;
  color:#fff;
  top:100;
  left:320px;
  width:1230px;
  height:80px;
}
.menu ul li{
  transition:0.25s;
}
.menu ul li:hover{
  color:#d0bfb0;
  font-size:19px;
  font-weight:bold;
  border-bottom:3px solid #d0bfb0;
  padding:6px;
}
.utilMenu ul{
  font-size:15px;
  color:white;
  font-weight:lighter;
  top:100;
  left:1550px;
  width:300px;
  height:80px;
}
.fa-solid:before{
  content:'\f07a';
  font-family:fontawesome;
  font-size:25px;
  font-style:normal;
}
.utilMenu ul li,
.fa-solid:before{
  transition:0.25s;
}
.utilMenu ul li:nth-child(1):hover,
.utilMenu ul li:nth-child(2):hover{
  font-size:16px;
}
.fa-solid:hover:before{
  font-size:27px;
}
/* Header//--------------------- */
figure{
  text-align:center;
}
figure img{
  width:100%;
  height:auto;
}
section{
  font-family: 'S-CoreDream-3Light';
  letter-spacing:-1px;
}
.content01{
  text-align:center;
  margin:5px;
}
.text h1{
  text-transform:capitalize;
  font-size:55px;
  margin-top:13px;
}
.text p{
  font-size:18px;
  margin-top:10px;
}
.content02{
  background-color:#dadada;
  margin-top:50px;
}
.allprd{
  text-align:center;
}
.allprd span{
  color:#fff;
  width:150px;
  display:inline-block;
  padding:5px;
  border-radius:5px;
  /* border-top:2px solid #888;
  border-bottom:2px solid #888; */
  background-color:#333;
  margin-top:90px;
  font-size:22px;
  font-weight:;
}
.allprdimg{
  text-align:center;
}
.allprdimg div{
  /* border:1px solid #d0bfb0;
  border-radius:20px; */
  display:inline-block;
  margin:30px;
  width:165px;
  cursor:pointer;
  margin-top:-100px;
}








